{% extends 'aplicacion/base.html' %}
{% load static %}


{% block encabezado %}
  Acerca de mi
{% endblock encabezado %}
    


{% block contenido %}
<h1>Acerca del autor:  </h1>



   <h3>Mi nombre es Filia Villanera, tengo 33 años, soy un ingeniero industrial 
    venezolano actualmente viviendo en EEUU, me desempeño como auditor
    de calidad en la empresa Publix Super Markets, Inc. Me gusta mucho la tecnología
    y pienso seguir formandome en este mundo tan extenso de la programación.</h3> 
    
    <h2>Contactos:</h2>
    <h4>filiavillanera@Gmail.com</h4>
    <h4>ale_fily69@Hotmail.com</h4>


{% endblock contenido %}
    